profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.executor = 'slurm'
  }

slurm {
    singularity.enabled = true
    singularity.autoMounts = true
    process.executor = 'slurm'
    process.cpus   = { params.threads ?: 4 }
    process.memory = { params.memory ?: '24 GB' }
    // If using modules:
    process.beforeScript = 'module load STAR && module load RSEM || true'
  }
}
